@media (max-width: 767px)
{
	#sfsi_floater
	{
		display: none;
	}
}
/*
     FILE ARCHIVED ON 16:07:36 Dec 02, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:20:08 Oct 26, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 431.149
  exclusion.robots: 0.082
  exclusion.robots.policy: 0.073
  cdx.remote: 0.061
  esindex: 0.01
  LoadShardBlock: 368.58 (3)
  PetaboxLoader3.resolve: 111.181 (2)
  PetaboxLoader3.datanode: 341.347 (4)
  load_resource: 131.584
*/