/*3c3d32d205575f95b14e2025e0a95792*/
.alert{border-radius:0.1875rem;padding:0.938rem;margin-bottom:1.5rem;text-shadow:none}.alert{background-color:#fcf8e3;border:1px solid #fbeed5;border-radius:4px}.alert,.alert h4{color:#c09853}.alert h4{margin:0}.alert .close{top:-2px;right:-21px;line-height:20px}.alert-success{color:#468847;background-color:#dff0d8;border-color:#d6e9c6}.alert-success h4{color:#468847}.alert-danger,.alert-error{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}.alert-danger h4,.alert-error h4{color:#b94a48}.alert-info{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1}.alert-info h4{color:#3a87ad}.alert-block{padding-top:14px;padding-bottom:14px}.alert-block>p,.alert-block>ul{margin-bottom:0}.alert-block p+p{margin-top:5px}legend{font-size:1.3rem;line-height:1.5}legend small{font-size:0.8rem}.platform-content .entries{margin:-0.938rem}.platform-content .entries .g-block{padding:0 0.938rem}.platform-content .entries .g-block .tease.sticky{background-color:#f2f2f2}.search-form input.search-field{height:40px;padding-top:3px;color:#666}@media only all and (max-width:47.938rem){.pagination .pagination-list-item,.page-links .pagination-list-item{margin-bottom:0.8rem}}.pagination .page-numbers,.page-links .page-numbers,.pagination .prev,.page-links .prev,.pagination .next,.page-links .next{padding:0.3rem 1rem;background:#fafafa;border:1px solid #ddd;border-radius:0.1875rem}#comments ol.commentlist li.comment .comment-body{background-color:#f2f2f2}#comments ol.commentlist li.comment .comment-author{background-color:#39c;color:#fff}#comments ol.commentlist li.comment .comment-author a{color:#fff}#comments ol.commentlist li.comment .comment-author a:hover{color:#2887b7}#comments ol.commentlist li.comment.bypostauthor>.comment-body>.comment-author{background-color:#2887b7;color:#fff}#comments ol.commentlist li.comment.bypostauthor>.comment-body>.comment-author a:hover{color:#bf383a}
/*
     FILE ARCHIVED ON 16:07:37 Dec 02, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:20:09 Oct 26, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 60.332
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.069
  cdx.remote: 0.061
  esindex: 0.009
  LoadShardBlock: 30.389 (3)
  PetaboxLoader3.datanode: 750.705 (4)
  load_resource: 811.949
  PetaboxLoader3.resolve: 86.938
*/